@tailwind base;
@tailwind components;
@tailwind utilities;

@layer{
  .dropdown{
    @apply absolute rounded-lg bg-slate-200 dark:bg-slate-600 px-2 py-2 min-w-52 top-full mt-2;
    z-index: 99;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body, html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}